html {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, Tahoma, sans-serif;
}
input{
  display: none;
}
svg {
  fill:white;
  stroke: rgb(255, 102, 0);
  width: 50px;
  height: 50px;
}
.rating{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
input:hover ~ label svg{
  fill:yellow;
}

input:checked ~ label svg{
  fill:rgb(255, 157, 0);
} 